.aboutImgProducts{
      width: 100vw !important;
      object-fit: cover;
      margin-top: 6rem;
      height: 20rem;
}
.titleOverflowProducts {
      position: absolute;
      display: flex;
      flex-direction: column;
      text-align: left;
      top: 12em;
      left: 18em;
      width: 64rem;
      font-weight: 800;
      h1{
            text-shadow:-7px 7px 2px rgba(0, 0, 0, 0.5); 
            color: white !important;
            font-size:3.75em;
        }
  }
.videoContainerProducts {
      height: 22rem !important;
}
#Produtos{
      margin-top: 5rem;
      .card-product{
            background-color: var(--title);
            align-self: center;
            width: 23rem;
            height: 20rem;
      }
      .icon-box{
            display: flex;
            background-color: var(--title);
            width: auto;
            width: 50px;
            height: 50px;
            align-self: start;
            align-items: center;
            justify-content: center;
      }
      .iconImg{
            width: 35px;
            height: 35px;
      }


      .item-list{
            display: flex;
            flex-direction: row;
            text-align: center;
            justify-content: space-between;
            text-align: center;
            border: 1px solid  rgba(0, 0, 0, 0.111);    
            width: 43.2vw;
 
      }
      .product-list{
            display: flex;
            flex-direction: column;
            gap: 1rem;
      }
      a::after {
            content: '';
            display: flex;
            width: 0;
            height: 2px;
            background-color: var(--title);
            transition: width 0.4s ease-in-out;
          }
      .bloco{
            width: auto;
            min-width: 2rem !important;
            gap: 0 !important;
            min-height: 0 !important;
      }
      h3{
            color: var(--title);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 95%;
      }
      #filter{
            display: flex;
            align-self: center;
            justify-content: center;
      }
      li a {
            display: inline-block;
            color: var(--title) !important;
            text-align: center;
            padding: 16px;
            text-decoration: none;
          }
      #mosaic{
            gap:2rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
      }
}

@media (max-width: 520px) {
    #Produtos{
      margin-top: 6rem;
      .product-list{
            width: 100vw;
      }
      .description{
        width: 95vw !important;
        margin-left: 10px;
      }
      span{
            width: 70.5vw;
      }
      .item-list{
            width: 95vw;
            margin-left: 10px;
      }
        .card-product{
            width: 100vw;
        }
    }
}