#Contact{
    background-color: var(--color-primary);
    color: var(--color-white);
    width: 50vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
    >div{
        align-items: center;
        padding: 1rem;
        justify-content: flex-start;
        gap: 1rem;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);    
    }
    .invalid{
        color: tomato !important;
    }
    .left{
        align-items: flex-start !important; 
    }
    .right{
        align-items: flex-end !important;
    }
    .bloco{
        gap: 1rem;
        min-width: 24vw !important;        
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    span{
        font-size: 2rem;
        text-align: start;
        color: var(--cor-transparent);
    }
    p{
        color: var(--cor-transparent);
    }
    input{
        width: 80%;
        height: 3rem;
        padding: 0 1rem;
        border: 1px solid var(--bg2);
        font-size: 1.2rem;    
        background-color: var(--cor-transparent);  
    }
    textarea{
        width: 90%;
        height: 10rem;
        border: 1px solid var(--bg2);
        font-size: 1.2rem;
        background-color: var(--cor-transparent);  

    }
    h1{
        margin: 0;
    }
    form{
        display: contents;
    }
    button{
        align-self: center;
        width: 10rem;
    }
    button:hover{
        background-color: white
    }
}

@media (max-width: 520px) {
    #Contact{
        .container{
            flex-direction: column-reverse;
        }
        .bloco{
            align-items: center  !important;
            justify-content: center !important;
        }
        img{
            margin:0;
        }
        button{
            width: 4rem;
            height: 2rem;
         }
    }
}