

#navbar{
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--title);
  position: fixed;
  height: 6.25em;
  top: 0;
  display: inline flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1200;

  .containerNav{
    display: flex;
    flex-direction: row;
    margin-left: 18em;
    margin-right: 18em;
    width: 100%;
    justify-content: space-between;
    >a{
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .blocoNav{
    display: flex;
    flex-direction: row;
  }

  img{
    width: 4rem; 
    height: 2rem;

  }
  > li {
    display: inline-block;
  }
  li {
    text-align: center;
  }
  
  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  .logo{
    width: 6rem;
    z-index: 1200;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-self: center;
    object-fit: contain;
  }
}

@media (max-width: 520px) {
  #navbar{
    gap: 5px;
    width: 100vw;
    .containerNav{
      width: 100vw;
    }
    .logo{
      display: none    
    }
  }
}