#Footer{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    background-color: var(--title);
    hr{
        width: 90%;
        color: var(--cor-transparent);
    }
    .box{
        /* border: 3px solid var(--cor-transparent); */
        padding: 10px;
        width: 21.6rem;
        background-color: rgba(255, 255, 255, 0.27);
    }
    h1{
        font-size: 1.5rem;
    }
    #container{
        gap: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .info-box{
        min-width: 10rem;
    }
    h2{
        font-weight: 1 !important;
    }
    img{
        width: 45px;
        height: 45px;
    }
    h1{
        color: white;
    }
    .bloco{
        width: 20rem!important;
        min-width: 20vw;
        gap: .5rem;
        margin-top: 2rem;
        
    }
    h2{
        margin: 0;
        font-size: 1rem;
        text-align: start;

    }
    .full-container{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;

    }
    a{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        text-align: start !important;
        width: fit-content;
        font-weight: 600;
    }
    span{
        font-weight: 1 !important;
        font-size: .8rem;
        width: 22rem;
    }
}

.fourp-name{
    font-size: 13vw !important
}

@media (max-width: 520px) {
    #Footer{
    .bloco > h2{
        margin: 0;
        font-size: .5rem !important;
    }
    a{
        font-size: .3rem !important;
        overflow: hidden;
    }
}
}


@media (min-width: 600px) and (max-width: 900px) {
    #Footer{
        .bloco > h2{
            margin: 0;
            font-size: .8rem !important;
        }
        a{
            font-size: .6rem !important;
            overflow: hidden;
        }
        .icon{  
            width: .6rem !important;
        }
        span{
            font-size: .6rem !important;  
        }
    }
  }